<h1>Admin Dashboard</h1>
<br>
<div class="card">
  <div class="card-body">
    Total number of products are <%=@products%>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    Total number of categories are <%=@categories%>
  </div>
</div>
<%# <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %> 
<%# <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>

